# Xmake cache
example/riscvgcc_sifiveu54_demo/.xmake/
example/riscvgcc_sifiveu54_demo/build/
example/riscvgcc_k210_demo/.xmake/
example/riscvgcc_k210_demo/build/
example/riscvgcc_k210_demo/*.bin
example/armgcc_stm32h7_demo/.xmake/
example/armgcc_stm32h7_demo/build/
example/armgcc_stm32h7_demo/*.bin
example/mingw_sdl2_demo/obj/
example/mingw_sdl2_demo/bin/Debug/example.exe
example/mdk_stm32h7_demo/Objects/*.o
example/mdk_stm32h7_demo/Objects/*.d
example/mdk_stm32h7_demo/Objects/*.iex
example/mdk_stm32h7_demo/Objects/*.__i
example/mdk_stm32h7_demo/Objects/*.build_log.htm
example/mdk_stm32h7_demo/Objects/*.lnp

.vscode/settings.json