example/mingw_sdl2_demo/obj/
example/mingw_sdl2_demo/bin/Debug/example.exe
example/stm32_h7_full_demo/Objects/*.o
example/stm32_h7_full_demo/Objects/*.d
example/stm32_h7_full_demo/Objects/*.iex
.vscode/