# Xmake cache
example/riscvgcc_sifiveu54_demo/.xmake/
example/riscvgcc_sifiveu54_demo/build/
example/riscvgcc_k210_demo/.xmake/
example/riscvgcc_k210_demo/build/
example/riscvgcc_k210_demo/*.bin
example/armgcc_stm32h7_demo/.xmake/
example/armgcc_stm32h7_demo/build/
example/armgcc_stm32h7_demo/*.bin
example/mingw_sdl2_demo/obj/
example/mingw_sdl2_demo/bin/Debug/example.exe
example/mdk_stm32h7_demo/Listings/
example/mdk_stm32h7_demo/Objects/

.vscode/settings.json