<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  <configs SELEFILE="C:\Users\Shannon\Desktop\upgrade_2022_1_3_modify_circle_search\cam_pro_support_upgrade\example\stm32_h7_full_demo\cam_h7.bin" SAVEFILE="C:\Users\Shannon\Desktop\upgrade_2022_1_3_modify_circle_search\cam_pro_support_upgrade\example\stm32_h7_full_demo\cam_h7.rbl" COMPRESS="0" CRYPT="0" KEY="lziebg,z@fjebzdllziebg,z@fjebzdl" IV="e3r4y6p0e3r4y6p0" NAME="user_app" VERSION="3.5" />
</configuration>